.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.section-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 6rem;
}
.btn-reset {
  border: none;
  background: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}
.btn-reset:active {
  outline: none;
}
.contacts-link-icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.5s ease;
}
.shadowed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 98;
}
.shadowed-active {
  display: block;
}
.stop-scroll {
  overflow: hidden;
}
